@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap");

#root {
    min-height: 100vh;
}

:root {
    --h-height: 100px;
    --f-height: 100px;
}

@media (max-width: 1199px) {
    :root {
        --h-height: 90px;
    }
}

@media (max-width: 991px) {
    :root {
        --h-height: 80px;
        --f-height: 80px;
    }
}

@media (max-width: 767px) {
    :root {
        --h-height: 60px;
        --f-height: 60px;
    }
}

/* mixins */
a, a:hover, a:focus, a:active {
    color: inherit;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p, label, span, a, button, form, fieldset, legend, select, input, textarea, button, div, blockquote, cite, figure, figcaption, table, ul, ol, dl, address {
    line-height: 130%;
    margin-bottom: 0px;
}

/* Form elements */
input, textarea {
    background: #FFFFFF;
    border: none;
    border-radius: 1em;
    padding: 0.75em 1.5em;
    width: 100%;
    line-height: normal;
    outline: none;
    display: block;
    transition: 0.3s ease;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #7A8290;
    font-weight: 400;
}

input::placeholder, textarea::placeholder {
    color: #7A8290;
    font-weight: 400;
}

input[type=radio] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    outline: none;
    width: 1.5em;
    height: 1.5em;
    background-color: #FFFFFF;
    border-radius: 50%;
    box-shadow: none;
    padding: 0px;
    margin: 0px;
    transition: 0.3s ease;
    position: relative;
}

input[type=radio]::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    background-color: #D2D5DA;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s ease;
}

input[type=radio]:checked::before {
    background-color: #004AAD;
}

input[type=checkbox] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    outline: none;
    width: 1.5em;
    height: 1.5em;
    background-color: #FFFFFF;
    border-radius: 2px;
    box-shadow: none;
    padding: 0px;
    margin: 0px;
    position: relative;
}

input[type=checkbox]::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    height: 40%;
    border-color: transparent;
    border-width: 0px 0px 3px 3px;
    border-style: solid;
    transform: translate(-50%, -65%) rotate(-45deg);
    transition: border-color 0.3s ease;
}

input[type=checkbox]:checked::before {
    border-color: #004AAD;
}

label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

label span {
    flex: 1;
    margin-left: 0.6em;
}

fieldset {
    margin-bottom: 3em;
}

@media (max-width: 575px) {
    fieldset {
        margin-bottom: 2em;
    }
}

fieldset legend {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0.75em;
}

button {
    background: none;
    border: none;
    padding: unset;
    display: block;
    font-family: inherit;
    outline: none;
    color: inherit;
}

.btn, .btn-5, .btn-4, .btn-3, .btn-2, .btn-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75em 1.5em;
    text-align: center;
    transition: 0.3s ease;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 1em;
    font-weight: 500;
    border-radius: 1em;
}

.btn-none {
    padding: 0px;
    display: flex;
    border: none !important;
}

.btn-1 {
    color: #fff;
    background: #004AAD;
}

.btn-1:hover, .btn-1:focus, .btn-1:active {
    color: #fff;
    background: #002C66;
}

.btn-2 {
    color: #4797FF;
    background: transparent;
    border: 1px solid currentColor;
}

.btn-2:hover, .btn-2:focus, .btn-2:active {
    color: #004AAD;
}

.btn-3 {
    background: #D6E7FF;
    color: #002C66;
}

.btn-3:hover, .btn-3:focus, .btn-3:active {
    color: #fff;
    background-color: #4797FF;
}

.btn-4 {
    color: #fff;
    background: #4797FF;
}

.btn-4:hover, .btn-4:focus, .btn-4:active {
    color: #fff;
    background: #002C66;
}

.btn-5 {
    color: #fff;
    background: #e50000;
}

.btn-5:hover, .btn-5:focus, .btn-5:active {
    color: #fff;
    background: #e20000;
}

.simple-select-container {
    width: -moz-fit-content;
    width: fit-content;
    min-width: 120px;
    max-width: 100%;
}

@media (max-width: 575px) {
    .simple-select-container {
        min-width: unset;
    }
}

.simple-select__control {
    border-radius: 1em !important;
    height: 100%;
    border: 1px solid #4797FF !important;
    background-color: #FFFFFF !important;
    transition: 0.3s ease !important;
    padding: 0.7em;
}

.simple-select__control--is-focused {
    border: 1px solid #004AAD !important;
    box-shadow: none !important;
}

.simple-select__value-container {
    padding: 0px !important;
    flex-wrap: nowrap !important;
}

.simple-select__placeholder {
    white-space: nowrap;
}

.simple-select__single-value {
    color: #000 !important;
    cursor: pointer;
}

.simple-select__indicators {
    margin-left: 0.5em;
}

.simple-select__indicator {
    color: #7A8290 !important;
    transition: 0.3s ease !important;
    cursor: pointer;
    padding: 0px !important;
    width: 2em;
    height: 1.35em;
}

.simple-select__indicator:hover {
    color: #4797FF !important;
}

.simple-select__indicator svg {
    width: 100% !important;
    height: 100% !important;
}

.simple-select__indicator-separator {
    background-color: #D2D5DA !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.simple-select__input-container {
    margin: 0px !important;
    padding: 0px !important;
    cursor: text;
}

.simple-select__multi-value__label {
    background-color: #D6E7FF;
    border-radius: 0px;
    color: #001229;
}

.simple-select__multi-value__remove {
    background-color: #D6E7FF;
    border-radius: 0px;
    color: #001229;
}

.simple-select__multi-value__remove:hover {
    background-color: #4797FF !important;
    color: #FFFFFF !important;
}

.simple-select__menu {
    margin-top: 0px !important;
    top: 100% !important;
    font-size: 0.9em;
    min-width: 150px;
    background-color: #fff !important;
    border: 1px solid #7A8290 !important;
    border-radius: 1em !important;
    box-shadow: none !important;
    outline: none !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    z-index: 10 !important;
    overflow: hidden !important;
    isolation: isolate;
    transform: translateZ(0);
}

.simple-select__option {
    transition: 0.3s ease;
    white-space: nowrap;
}

.simple-select__option:hover, .simple-select__option:focus, .simple-select__option:active, .simple-select__option--is-focused {
    background-color: #4797FF !important;
    color: #fff;
    cursor: pointer;
}

.simple-select__option--is-selected {
    background-color: #004AAD !important;
    color: #fff;
}

.borderless .simple-select__control {
    border: none !important;
    padding: 0.7em 0 0.7em 0.7em;
}

.borderless .simple-select__control--is-focused {
    border: none !important;
}

form.form-search {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: stretch;
    width: 400px;
    max-width: 100%;
}

@media (max-width: 1199px) {
    form.form-search {
        width: 320px;
    }
}

form.form-search input {
    border-radius: 1em 0 0 1em;
}

form.form-search button {
    width: 3em;
    padding: 0px;
    border-radius: 0 1em 1em 0;
}

form.form-search button svg {
    font-size: 1.5em;
}

h1 {
    font-size: 2em;
    font-weight: 600;
    text-align: left;
    margin-bottom: 1em;
}

h2 {
    font-size: 2.5em;
    font-weight: 800;
    text-align: left;
    margin-bottom: 1em;
}

@media (max-width: 991px) {
    h2 {
        font-size: 2em;
    }
}

h3 {
    font-size: 1.5em;
    font-weight: 600;
    text-align: left;
    margin-bottom: 1em;
}

h4 {
    font-size: 1.25em;
    font-weight: 600;
    text-align: left;
    margin-bottom: 0.5em;
}

h5 {
    font-size: 1.2em;
    font-weight: 500;
    text-align: left;
    margin-bottom: 0.5em;
}

h6 {
    font-size: 1.1em;
    font-weight: 600;
    text-align: left;
    margin-bottom: 0.25em;
}

.fs-08 {
    font-size: 0.8em;
}

.fs-09 {
    font-size: 0.9em;
}

.fs-10 {
    font-size: 1em;
}

.fs-11 {
    font-size: 1.1em;
}

.fs-12 {
    font-size: 1.2em;
}

.fs-13 {
    font-size: 1.3em;
}

.fs-14 {
    font-size: 1.4em;
}

.fs-15 {
    font-size: 1.5em;
}

.fs-16 {
    font-size: 1.6em;
}

.fs-17 {
    font-size: 1.7em;
}

.fs-18 {
    font-size: 1.8em;
}

.fs-19 {
    font-size: 1.9em;
}

.fs-20 {
    font-size: 2em;
}

.fs-25 {
    font-size: 2.5em;
}

.fs-30 {
    font-size: 3em;
}

.fs-35 {
    font-size: 3.5em;
}

.fs-40 {
    font-size: 4em;
}

.fw-3 {
    font-weight: 300;
}

.fw-4 {
    font-weight: 400;
}

.fw-5 {
    font-weight: 500;
}

.fw-6 {
    font-weight: 600;
}

.fw-7 {
    font-weight: 700;
}

.fw-8 {
    font-weight: 800;
}

.fw-9 {
    font-weight: 900;
}

.color-main {
    color: #004AAD;
}

.white {
    color: #fff;
}

.color-4 {
    color: #4797FF;
}

.achromat-3 {
    color: #7A8290;
}

.achromat-4 {
    color: #D2D5DA;
}

.red {
    color: #e50000;
}

.yellow {
    color: #ffd900;
}

.green {
    color: #02c12b;
}

.bb-dot {
    border-bottom: 1px dotted currentColor;
}

.flex-1 {
    flex: 1;
}

.link {
    color: #004AAD;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
}

.link:hover, .link:focus {
    color: #4797FF;
}

.link:active {
    color: #002C66;
}

nav.pagination {
    width: 100%;
    margin-top: 2em;
}

nav.pagination ul {
    width: 100%;
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.pagination ul li:not(:first-child) {
    margin-left: 0.5em;
}

nav.pagination ul li button {
    font-size: 1.2em;
    font-weight: 500;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    background-color: transparent;
    color: #001229;
    transition: 0.3s ease;
}

nav.pagination ul li button:hover, nav.pagination ul li button:focus {
    background-color: #D6E7FF;
}

nav.pagination ul li button:active {
    background-color: #4797FF;
    color: #FFFFFF;
}

nav.pagination ul li button.active {
    background-color: #004AAD;
    color: #FFFFFF;
}

.swiper {
    position: unset;
}

.swiper-button, .swiper-button-next, .swiper-button-prev {
    top: 50%;
    margin: 0px;
    width: 2em;
    height: 3em;
    background-color: transparent;
}

.swiper-button::after, .swiper-button-next::after, .swiper-button-prev::after {
    font-size: 1.75em;
    color: #004AAD;
    font-weight: 700;
    transition: 0.3s ease;
}

.swiper-button:hover::after, .swiper-button-next:hover::after, .swiper-button-prev:hover::after, .swiper-button:focus::after, .swiper-button-next:focus::after, .swiper-button-prev:focus::after {
    color: #4797FF;
}

.swiper-button:active::after, .swiper-button-next:active::after, .swiper-button-prev:active::after {
    color: #002C66;
}

.swiper-button-prev {
    left: 0px;
    transform: translateY(-50%) translateX(-100%);
}

.swiper-button-next {
    right: 0px;
    transform: translateY(-50%) translateX(100%);
}

.swiper-button-disabled {
    opacity: 0 !important;
}

body {
    margin: 0;
    font-family: "Mulish";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    background-color: #FFFFFF;
    color: #000000;
    font-weight: 400;
    overflow-x: hidden;
}

@media (max-width: 1399px) {
    body {
        font-size: 15px;
    }
}

@media (max-width: 1199px) {
    body {
        font-size: 14px;
    }
}

@media (max-width: 991px) {
    body {
        padding-bottom: var(--m-footer);
    }
}

@media (max-width: 575px) {
    body {
        font-size: 12px;
    }
}

header {
    height: var(--h-height);
    background-color: aliceblue;
}

@media (max-width: 991px) {
    header {
        position: sticky;
        top: 0px;
        left: 0px;
        width: 100%;
        z-index: 100;
    }
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

header .container .logo {
    width: 150px;
}

@media (max-width: 1199px) {
    header .container .logo {
        width: 120px;
    }
}

@media (max-width: 991px) {
    header .container .logo {
        width: 100px;
    }
}

@media (max-width: 767px) {
    header .container .logo {
        width: 90px;
    }
}

header .container nav ul {
    list-style: none;
    padding-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container nav ul li:not(:first-child) {
    margin-left: 1em;
}

header .container nav ul li a {
    font-size: 1.2em;
    color: #004AAD;
    transition: 0.3s ease;
}

header .container nav ul li a:hover, header .container nav ul li a:focus, header .container nav ul li a:active, header .container nav ul li a.active {
    color: #4797FF;
}

main {
    min-height: calc(100vh - var(--h-height) - var(--f-height));
}

.main-slider .swiper-slide {
    width: 70%;
}

@media (max-width: 767px) {
    .main-slider .swiper-slide {
        width: 100%;
    }
}

.main-slider .swiper-slide figure {
    position: relative;
    border-radius: 1em;
    overflow: hidden;
    border: 3px solid #D6E7FF;
    height: 400px;
}

@media (max-width: 1399px) {
    .main-slider .swiper-slide figure {
        height: 360px;
    }
}

@media (max-width: 1199px) {
    .main-slider .swiper-slide figure {
        height: 325px;
    }
}

@media (max-width: 991px) {
    .main-slider .swiper-slide figure {
        height: 275px;
    }
}

@media (max-width: 575px) {
    .main-slider .swiper-slide figure {
        height: 55vw;
    }
}

.main-slider .swiper-slide figure img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    -o-object-fit: cover;
    object-fit: cover;
    filter: brightness(0.7);
}

.main-slider .swiper-slide figure figcaption {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFFFFF;
    height: 100%;
    padding: 2em;
}

.main-slider .swiper-slide figure figcaption h2 {
    margin-bottom: 0.5em;
}

.main-slider .swiper-slide figure figcaption ul {
    list-style: none;
    padding: 0px;
    display: flex;
    align-items: center;
    opacity: 0.75;
    font-size: 0.8em;
}

.main-slider .swiper-slide figure figcaption ul li:not(:first-child) {
    margin-left: 0.5em;
}

.main-slider .swiper-slide figure figcaption ul li:not(:first-child)::before {
    content: "·";
    margin-right: 0.5em;
}

.date-slider {
    overflow: visible;
    overflow-x: clip;
}

.date-slider .swiper-wrapper {
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-inline: contain;
    scroll-snap-type: x proximity !important;
}

.date-slider .swiper-slide {
    width: -moz-fit-content;
    width: fit-content;
    scroll-snap-stop: normal;
}

.date-slider .swiper-slide .month {
    width: 100%;
    position: relative;
    margin-bottom: 0.5em;
    font-weight: 600;
    background-color: #D6E7FF;
    padding: 0.5em;
}

.date-slider .swiper-slide .month span {
    position: sticky;
    left: 0.5em;
    top: 0px;
    transition: left 200ms linear 0s;
}

.date-slider .swiper-slide .days {
    display: flex;
}

.date-slider .swiper-slide .days button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 1em;
    border-radius: 0.5em;
    background-color: transparent;
    transition: 0.3s ease;
}

.date-slider .swiper-slide .days button.active {
    background-color: #4797FF;
    color: #FFFFFF;
}

.date-slider .swiper-slide .days button:not(:first-child) {
    margin-left: 0.5em;
}

.date-slider .swiper-slide .days button div:first-child {
    font-size: 1.5em;
    font-weight: 700;
}

.filters-carousel {
    overflow: visible;
    overflow-x: clip;
}

.filters-carousel .swiper-wrapper {
    align-items: stretch;
}

.filters-carousel .swiper-wrapper .swiper-slide {
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
}

.filters {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}

.filters > * {
    margin-right: 1em;
}

.calendar {
    position: relative;
}

.calendar button {
    position: relative;
    z-index: 1;
    height: 100%;
}

.calendar-box {
    position: absolute;
    z-index: 10;
    top: calc(100% + 0.5em);
    background-color: #D6E7FF;
    padding: 1em;
    right: 10px;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease 200ms;
}

@media (max-width: 767px) {
    .calendar-box {
        right: -300px;
    }
}

@media (max-width: 575px) {
    .calendar-box {
        right: 10px;
    }
}

@media (max-width: 480px) {
    .calendar-box {
        right: -270px;
    }
}

@media (max-width: 396px) {
    .calendar-box {
        right: -40px;
    }
}

@media (max-width: 315px) {
    .calendar-box {
        right: -245px;
    }
}

.calendar-box.show {
    display: block;
    opacity: 1;
}

.event img {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-bottom: 1em;
    filter: brightness(0.75);
    border-radius: 1em;
}

@media (max-width: 1399px) {
    .event img {
        height: 170px;
    }
}

@media (max-width: 991px) {
    .event img {
        height: 140px;
    }
}

@media (max-width: 575px) {
    .event img {
        height: 50vw;
    }
}

.event address {
    font-size: 0.9em;
    margin-bottom: 1em;
    color: #7A8290;
}

.event .time {
    font-size: 0.9em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #31353B;
}

.event-page .top {
    background-color: #001229;
    color: #fff;
    border-radius: 1em;
    overflow: hidden;
    isolation: isolate;
    transform: translateZ(0);
    margin-bottom: 2em;
}

.event-page .top img {
    width: 100%;
    height: 450px;
    -o-object-fit: cover;
    object-fit: cover;
}

@media (max-width: 1399px) {
    .event-page .top img {
        height: 400px;
    }
}

@media (max-width: 1199px) {
    .event-page .top img {
        height: 350px;
    }
}

@media (max-width: 991px) {
    .event-page .top img {
        height: auto;
        aspect-ratio: 4/2;
    }
}

.event-page .top .info {
    list-style: none;
    padding-left: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: nowrap;
}

@media (max-width: 991px) {
    .event-page .top .info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
    }
}

.event-page .top .info li {
    display: flex;
    align-items: center;
}

@media (max-width: 991px) {
    .event-page .top .info li {
        width: 50%;
    }
}

@media (max-width: 575px) {
    .event-page .top .info li {
        width: 100%;
    }
}

.event-page .top .info li svg {
    font-size: 4em;
    padding: 1rem;
    border-right: 1px solid #7A8290;
    margin-right: 1rem;
}

.event-page .top .info li div {
    font-size: 0.9em;
}

.event-page .top nav {
    background-color: #004AAD;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0.5em 1em;
}

.event-page .top nav ul {
    list-style: none;
    padding-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-page .top nav ul li {
    padding: 1em;
}

@media (max-width: 767px) {
    .event-page .top nav ul li {
        padding: 0.5em 0em;
        font-size: 0.9em;
    }
}

@media (max-width: 575px) {
    .event-page .top nav ul li {
        width: 25%;
    }
}

@media (max-width: 991px) {
    .event-page .top nav {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
    }

    .event-page .top nav ul {
        width: 100%;
        margin-top: 0.5em;
        justify-content: space-around;
    }

    .event-page .top nav button {
        width: 100%;
    }
}

.event-page .map {
    width: 100%;
    height: 400px;
}

.event-page .list-10 > li:not(:last-child) {
    margin-bottom: 1em;
}

.event-page .list-15 > li:not(:last-child) {
    margin-bottom: 1.5em;
}

.event-page .list-30 > li:not(:last-child) {
    margin-bottom: 3em;
}

.event-page .text p, .event-page .text ul, .event-page .text ol {
    margin-bottom: 1em;
}

.event-page .form-search {
    border-radius: 1em;
    box-shadow: 0px 0px 1em #D6E7FF;
}

.participant {
    background-color: aliceblue;
    border-radius: 0.5em;
    width: 100%;
    padding: 0.25em;
    display: grid;
    grid-template-columns: 350px 150px 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
    isolation: isolate;
    transform: translateZ(0);
}

.participant.unapproved {
    background-color: #D2D5DA;
}

@media (max-width: 1399px) {
    .participant {
        grid-template-columns: 310px 100px 1fr;
    }
}

@media (max-width: 1199px) {
    .participant {
        grid-template-columns: 280px 100px 1fr;
    }
}

@media (max-width: 991px) {
    .participant {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        padding: 0px;
    }
}

.participant.head {
    font-size: 0.8em;
    color: #7A8290;
    background-color: transparent;
}

@media (max-width: 991px) {
    .participant.head {
        display: none;
    }
}

.participant .name {
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

@media (max-width: 991px) {
    .participant .name {
        padding: 1em;
    }
}

.participant .name img {
    width: 70px;
    height: 70px;
    background-color: #fff;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 0.5em;
    margin-right: 1em;
}

@media (max-width: 767px) {
    .participant .name img {
        width: 50px;
        height: 50px;
    }
}

.participant .name > div {
    flex: 1;
}

.participant .birth {
    grid-column: span 1;
    grid-row: span 1;
    padding: 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 991px) {
    .participant .birth {
        justify-content: flex-start;
        text-align: left;
        padding: 1em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }
}

.participant .params {
    list-style: none;
    margin-bottom: 0px;
    grid-column: span 1;
    grid-row: span 1;
    padding: 0 0 0 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.participant .params.closed {
    display: none;
}

.participant .params li {
    flex-grow: 1;
}

@media (min-width: 992px) {
    .participant .params strong {
        display: none;
    }
}

@media (max-width: 991px) {
    .participant .params {
        padding: 1em;
        background-color: #D6E7FF;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .participant .params li:not(:first-child) {
        margin-top: 0.5em;
    }
}

.wrap {
    width: 100%;
    overflow: auto;
}

.bracket {
    width: -moz-fit-content;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(5, 220px);
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    grid-gap: 1em 3em;
}

.bracket:hover, .bracket:focus {
    cursor: grab;
}

.bracket:active {
    cursor: grabbing;
}

.bracket .tour {
    grid-column: span 1;
    grid-row: span 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px;
    grid-auto-rows: 40px;
    grid-gap: 20px 0;
}

.bracket .tour:last-child .item::before, .bracket .tour:last-child .item-5::before, .bracket .tour:last-child .item-4::before, .bracket .tour:last-child .item-3::before, .bracket .tour:last-child .item-2::before, .bracket .tour:last-child .item-1::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 100%;
    height: 2px;
    width: 1.5em;
    background-color: #D6E7FF;
}

.bracket .tour:last-child .item::after, .bracket .tour:last-child .item-5::after, .bracket .tour:last-child .item-4::after, .bracket .tour:last-child .item-3::after, .bracket .tour:last-child .item-2::after, .bracket .tour:last-child .item-1::after {
    content: none !important;
}

.bracket .tour .item, .bracket .tour .item-5, .bracket .tour .item-4, .bracket .tour .item-3, .bracket .tour .item-2, .bracket .tour .item-1 {
    grid-column: span 1;
    position: relative;
}

.bracket .tour .item::before, .bracket .tour .item-5::before, .bracket .tour .item-4::before, .bracket .tour .item-3::before, .bracket .tour .item-2::before, .bracket .tour .item-1::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: -1.5em;
    height: 2px;
    width: calc(100% + 3em);
    background-color: #D6E7FF;
}

.bracket .tour .item-1 {
    grid-row: span 2;
}

.bracket .tour .item-1:nth-child(odd)::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: calc(100% + 1.5em);
    height: 61px;
    width: 2px;
    background-color: #D6E7FF;
}

.bracket .tour .item-1:nth-child(even)::after {
    content: "";
    position: absolute;
    bottom: calc(50% - 1px);
    left: calc(100% + 1.5em);
    height: 61px;
    width: 2px;
    background-color: #D6E7FF;
}

.bracket .tour .item-2.index-0 {
    grid-row-start: 2;
    grid-row-end: 4;
}

.bracket .tour .item-2.index-1 {
    grid-row-start: 6;
    grid-row-end: 8;
}

.bracket .tour .item-2.index-2 {
    grid-row-start: 10;
    grid-row-end: 12;
}

.bracket .tour .item-2.index-3 {
    grid-row-start: 14;
    grid-row-end: 16;
}

.bracket .tour .item-2.index-4 {
    grid-row-start: 18;
    grid-row-end: 20;
}

.bracket .tour .item-2.index-5 {
    grid-row-start: 22;
    grid-row-end: 24;
}

.bracket .tour .item-2.index-6 {
    grid-row-start: 26;
    grid-row-end: 28;
}

.bracket .tour .item-2.index-7 {
    grid-row-start: 30;
    grid-row-end: 32;
}

.bracket .tour .item-2:nth-child(odd)::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: calc(100% + 1.5em);
    height: 122px;
    width: 2px;
    background-color: #D6E7FF;
}

.bracket .tour .item-2:nth-child(even)::after {
    content: "";
    position: absolute;
    bottom: calc(50% - 1px);
    left: calc(100% + 1.5em);
    height: 122px;
    width: 2px;
    background-color: #D6E7FF;
}

.bracket .tour .item-3.index-0 {
    grid-row-start: 4;
    grid-row-end: 6;
}

.bracket .tour .item-3.index-1 {
    grid-row-start: 12;
    grid-row-end: 14;
}

.bracket .tour .item-3.index-2 {
    grid-row-start: 20;
    grid-row-end: 22;
}

.bracket .tour .item-3.index-3 {
    grid-row-start: 28;
    grid-row-end: 30;
}

.bracket .tour .item-3:nth-child(odd)::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: calc(100% + 1.5em);
    height: 244px;
    width: 2px;
    background-color: #D6E7FF;
}

.bracket .tour .item-3:nth-child(even)::after {
    content: "";
    position: absolute;
    bottom: calc(50% - 1px);
    left: calc(100% + 1.5em);
    height: 244px;
    width: 2px;
    background-color: #D6E7FF;
}

.bracket .tour .item-4.index-0 {
    grid-row-start: 8;
    grid-row-end: 10;
}

.bracket .tour .item-4.index-1 {
    grid-row-start: 24;
    grid-row-end: 26;
}

.bracket .tour .item-4:nth-child(odd)::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: calc(100% + 1.5em);
    height: 488px;
    width: 2px;
    background-color: #D6E7FF;
}

.bracket .tour .item-4:nth-child(even)::after {
    content: "";
    position: absolute;
    bottom: calc(50% - 1px);
    left: calc(100% + 1.5em);
    height: 488px;
    width: 2px;
    background-color: #D6E7FF;
}

.bracket .tour .item-5.index-0 {
    grid-row-start: 16;
    grid-row-end: 18;
}

.bracket .tour .item .person, .bracket .tour .item-1 .person, .bracket .tour .item-2 .person, .bracket .tour .item-3 .person, .bracket .tour .item-4 .person, .bracket .tour .item-5 .person {
    position: relative;
    background-color: aliceblue;
    border: 2px solid #D6E7FF;
    transition: 0.3s ease;
}

.bracket .tour .item .person:hover, .bracket .tour .item-1 .person:hover, .bracket .tour .item-2 .person:hover, .bracket .tour .item-3 .person:hover, .bracket .tour .item-4 .person:hover, .bracket .tour .item-5 .person:hover, .bracket .tour .item .person:focus, .bracket .tour .item-1 .person:focus, .bracket .tour .item-2 .person:focus, .bracket .tour .item-3 .person:focus, .bracket .tour .item-4 .person:focus, .bracket .tour .item-5 .person:focus, .bracket .tour .item .person:active, .bracket .tour .item-1 .person:active, .bracket .tour .item-2 .person:active, .bracket .tour .item-3 .person:active, .bracket .tour .item-4 .person:active, .bracket .tour .item-5 .person:active {
    background-color: #D6E7FF;
}

.bracket .tour .item .person-btn, .bracket .tour .item-1 .person-btn, .bracket .tour .item-2 .person-btn, .bracket .tour .item-3 .person-btn, .bracket .tour .item-4 .person-btn, .bracket .tour .item-5 .person-btn {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    cursor: pointer;
    text-align: left;
}

.bracket .tour .item .person-btn img, .bracket .tour .item-1 .person-btn img, .bracket .tour .item-2 .person-btn img, .bracket .tour .item-3 .person-btn img, .bracket .tour .item-4 .person-btn img, .bracket .tour .item-5 .person-btn img {
    width: 50px;
    height: 50px;
    -o-object-fit: cover;
    object-fit: cover;
}
.person-btn img {
    border-radius: 10px;
}

.bracket .tour .item .person-btn .name, .bracket .tour .item-1 .person-btn .name, .bracket .tour .item-2 .person-btn .name, .bracket .tour .item-3 .person-btn .name, .bracket .tour .item-4 .person-btn .name, .bracket .tour .item-5 .person-btn .name {
    font-weight: 600;
}

.bracket .tour .item .person-btn .text, .bracket .tour .item-1 .person-btn .text, .bracket .tour .item-2 .person-btn .text, .bracket .tour .item-3 .person-btn .text, .bracket .tour .item-4 .person-btn .text, .bracket .tour .item-5 .person-btn .text {
    font-size: 0.8em;
    color: #7A8290;
}

.bracket .tour .item .person-btn .winner, .bracket .tour .item-1 .person-btn .winner, .bracket .tour .item-2 .person-btn .winner, .bracket .tour .item-3 .person-btn .winner, .bracket .tour .item-4 .person-btn .winner, .bracket .tour .item-5 .person-btn .winner {
    position: absolute;
    top: 1em;
    right: 0.25em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #02c12b;
    z-index: 10;
}

.bracket .tour .item .person-btn .place, .bracket .tour .item-1 .person-btn .place, .bracket .tour .item-2 .person-btn .place, .bracket .tour .item-3 .person-btn .place, .bracket .tour .item-4 .person-btn .place, .bracket .tour .item-5 .person-btn .place {
    position: absolute;
    top: 1em;
    right: -2em;
    width: 1rem;
    height: 1rem;
    border-radius: 2px;
    background-color: #004AAD;
    color: #fff;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}

.bracket .tour .item .person-menu, .bracket .tour .item-1 .person-menu, .bracket .tour .item-2 .person-menu, .bracket .tour .item-3 .person-menu, .bracket .tour .item-4 .person-menu, .bracket .tour .item-5 .person-menu {
    list-style: none;
    padding: 1em;
    color: #FFFFFF;
    border-radius: 0 1em 1em 1em;
    position: absolute;
    left: 100%;
    top: 20%;
    width: 250px;
    background-color: #4797FF;
    z-index: 100;
}

@media (max-width: 767px) {
    .bracket .tour .item .person-menu, .bracket .tour .item-1 .person-menu, .bracket .tour .item-2 .person-menu, .bracket .tour .item-3 .person-menu, .bracket .tour .item-4 .person-menu, .bracket .tour .item-5 .person-menu {
        left: 0%;
        top: 100%;
        width: 100%;
    }
}

.bracket .tour .item .person-menu li:not(:first-child), .bracket .tour .item-1 .person-menu li:not(:first-child), .bracket .tour .item-2 .person-menu li:not(:first-child), .bracket .tour .item-3 .person-menu li:not(:first-child), .bracket .tour .item-4 .person-menu li:not(:first-child), .bracket .tour .item-5 .person-menu li:not(:first-child) {
    margin-top: 0.5em;
}

.bracket .tour .item .person-menu li button, .bracket .tour .item-1 .person-menu li button, .bracket .tour .item-2 .person-menu li button, .bracket .tour .item-3 .person-menu li button, .bracket .tour .item-4 .person-menu li button, .bracket .tour .item-5 .person-menu li button {
    width: 100%;
    padding: 0.75em 0.5em;
}

.bracket .tour .item .person:first-child, .bracket .tour .item-1 .person:first-child, .bracket .tour .item-2 .person:first-child, .bracket .tour .item-3 .person:first-child, .bracket .tour .item-4 .person:first-child, .bracket .tour .item-5 .person:first-child {
    border-bottom-width: 1px;
    border-radius: 1em 1em 0px 0px;
}

.bracket .tour .item .person:last-child, .bracket .tour .item-1 .person:last-child, .bracket .tour .item-2 .person:last-child, .bracket .tour .item-3 .person:last-child, .bracket .tour .item-4 .person:last-child, .bracket .tour .item-5 .person:last-child {
    border-top-width: 1px;
    border-radius: 0px 0px 1em 1em;
}

.card {
    border: 1px solid #D6E7FF;
    border-radius: 1em;
    overflow: hidden;
    isolation: isolate;
    transform: translateZ(0);
}

.card-title {
    background-color: #D6E7FF;
    padding: 1em;
    display: flex;
    align-items: center;
}

@media (max-width: 991px) {
    .card-title {
        padding: 0.6em 1em;
    }
}

.card-title svg {
    color: #004AAD;
    margin-right: 0.5em;
}

.card-body {
    padding: 1em 1.5em;
}

@media (max-width: 991px) {
    .card-body {
        padding: 0.6em 1em;
    }
}

.about-top {
    background: url(imgs/yedinoborstva1.jpg) no-repeat;
    background-position: 50% 0%;
    background-size: cover;
    height: 53vw;
    padding-bottom: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

@media (max-width: 991px) {
    .about-top {
        padding-bottom: 0px;
    }
}

@media (max-width: 575px) {
    .about-top {
        height: auto;
        padding: 2em 0;
    }
}

.about-top .box, .about-top .about-plus .box-4, .about-plus .about-top .box-4, .about-top .about-plus .box-3, .about-plus .about-top .box-3, .about-top .about-plus .box-2, .about-plus .about-top .box-2 {
    background-color: rgba(214, 231, 255, 0.6);
    padding: 3em;
    border-radius: 1em;
}
.box{
    font-family: Georgia, serif;
    font-family: fangsong;
    font-size: 1.2em;
}
@media (max-width: 767px) {
    .about-top .box, .about-top .about-plus .box-4, .about-plus .about-top .box-4, .about-top .about-plus .box-3, .about-plus .about-top .box-3, .about-top .about-plus .box-2, .about-plus .about-top .box-2 {
        padding: 2em;
    }
}

.about-top h1 {
    font-size: 3em;
    font-weight: 900;
    color: #004AAD;
}

@media (max-width: 767px) {
    .about-top h1 {
        font-size: 2em;
    }
}

.about-top p {
    font-size: 1.2em;
    line-height: 150%;
    font-weight: 500;
}

@media (max-width: 767px) {
    .about-top p {
        font-size: 1em;
    }
}

.about-plus {
    margin-top: -10vw;
}

@media (max-width: 991px) {
    .about-plus {
        margin-top: 3em;
    }
}

.about-plus h2 {
    text-align: center;
    color: #4797FF;
}

.about-plus .box, .about-plus .box-4, .about-plus .box-3, .about-plus .box-2 {
    padding: 2em;
    border-radius: 1em;
    color: #fff;
}

.about-plus .box h4, .about-plus .box-4 h4, .about-plus .box-3 h4, .about-plus .box-2 h4 {
    font-size: 2em;
}

.about-plus .box p, .about-plus .box-4 p, .about-plus .box-3 p, .about-plus .box-2 p {
    font-weight: 300;
}

.about-plus .box-2 {
    background-color: #4797FF;
}

.about-plus .box-3 {
    background-color: #004AAD;
}

.about-plus .box-4 {
    background-color: #002C66;
}

.about-partners-grid {
    --height: 180px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: var(--height);
    grid-auto-flow: dense;
    grid-auto-rows: var(--height);
    grid-gap: 1em;
    padding: 1em;
    border-radius: 1em;
}

@media (max-width: 1399px) {
    .about-partners-grid {
        --height: 160px;
    }
}

@media (max-width: 1199px) {
    .about-partners-grid {
        --height: 140px;
    }
}

@media (max-width: 991px) {
    .about-partners-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 767px) {
    .about-partners-grid {
        grid-gap: 0.5em;
        padding: 0.5em;
        --height: 110px;
    }
}

@media (max-width: 575px) {
    .about-partners-grid {
        grid-template-columns: repeat(4, 1fr);
        --height: 21vw;
    }
}

.about-partners-grid img {
    background-color: #D6E7FF;
    padding: 1em;
    border-radius: 1em;
    grid-column: span 1;
    grid-row: span 1;
    width: 100%;
    height: 100%;
    -o-object-fit: scale-down;
    object-fit: scale-down;
    -o-object-position: center;
    object-position: center;
}

.about-partners-grid img.col-span-2 {
    grid-column: span 2;
}

.about-partners-grid img.col-span-3 {
    grid-column: span 3;
}

article {
    display: inline-block;
}

article img {
    float: left;
    width: 45%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    margin-bottom: 2em;
    border-radius: 1em;
    margin-right: 2em;
}

@media (max-width: 767px) {
    article img {
        float: unset;
        width: 100%;
    }
}

article.preview {
    width: 100%;
}

article.preview img {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-bottom: 1em;
    border-radius: 1em;
}

@media (max-width: 1399px) {
    article.preview img {
        height: 170px;
    }
}

@media (max-width: 991px) {
    article.preview img {
        height: 140px;
    }
}

@media (max-width: 575px) {
    article.preview img {
        height: 50vw;
    }
}

article.preview .text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.2em;
    height: 3.6em;
}

article.preview .more {
    display: block;
    color: #004AAD;
    margin-top: 0.5em;
}

.not-found {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
}

@media (max-width: 767px) {
    .not-found {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
}

.not-found h1 {
    color: #D6E7FF;
    font-size: 8em;
    font-weight: 300;
    margin-bottom: 0px;
}

.not-found h2 {
    color: #004AAD;
}

.not-found hr {
    width: 4px;
    background-color: #D6E7FF;
    opacity: 1;
    border: none;
    border-radius: 2px;
    margin: 0 2em;
}

@media (max-width: 767px) {
    .not-found hr {
        width: 80%;
        height: 4px;
        margin: 2em auto;
    }
}

.form-login {
    background-color: rgba(210, 213, 218, 0.5);
    padding: 2em;
    border-radius: 1em;
    width: 50%;
    margin: 0 auto;
}

@media (max-width: 1199px) {
    .form-login {
        width: 60%;
    }
}

@media (max-width: 991px) {
    .form-login {
        width: 75%;
    }
}

@media (max-width: 767px) {
    .form-login {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .form-login {
        padding: 1em;
    }
}

.account {
    padding: 3em 0;
}

@media (max-width: 575px) {
    .account {
        padding: 2em 0;
    }
}

.account-menu ul {
    list-style: none;
    padding-left: 0px;
}

@media (max-width: 991px) {
    .account-menu ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        flex-wrap: nowrap;
    }
}

.account-menu ul li {
    margin-bottom: 0.5em;
}

@media (max-width: 991px) {
    .account-menu ul li {
        margin-bottom: 0px;
    }
}

.account-menu ul li a, .account-menu ul li button {
    width: 100%;
    display: block;
    background-color: rgba(210, 213, 218, 0.25);
    padding: 0.75em 1em;
    font-size: 1.25em;
    font-weight: 500;
    text-align: left;
    border-radius: 1em 0 0 1em;
    transition: 0.3s ease;
}

@media (max-width: 991px) {
    .account-menu ul li a, .account-menu ul li button {
        border-radius: 1em 1em 0 0;
    }
}

@media (max-width: 575px) {
    .account-menu ul li a, .account-menu ul li button {
        padding: 0.25em 0.75em;
        font-size: 2em;
        color: #004AAD;
    }
}

.account-menu ul li a:hover, .account-menu ul li a:focus, .account-menu ul li button:hover, .account-menu ul li button:focus {
    background-color: #D6E7FF;
}

.account-menu ul li a:active, .account-menu ul li a.active, .account-menu ul li button:active, .account-menu ul li button.active {
    background-color: rgba(210, 213, 218, 0.5);
}

.account-box {
    background-color: rgba(210, 213, 218, 0.5);
    padding: 2em;
    height: 100%;
    border-radius: 0 1em 1em 1em;
}

@media (max-width: 991px) {
    .account-box {
        border-radius: 1em;
    }
}

@media (max-width: 575px) {
    .account-box {
        padding: 1.5em;
    }
}

.account .event-preview {
    --h: 40px;
    --w: 200px;
    background-color: #FFFFFF;
    padding: 0.5em;
    border-radius: 0.5em;
    width: 100%;
    display: grid;
    grid-template-columns: 70px var(--w) auto 125px 100px;
    grid-template-rows: 1fr;
    grid-auto-rows: auto;
    gap: 1em 1em;
}

@media (max-width: 1199px) {
    .account .event-preview {
        grid-template-columns: 30px auto  30px;
        grid-template-rows: var(--h) auto;
        gap: 0.25em 0.5em;
    }
}

@media (max-width: 767px) {
    .account .event-preview {
        --h: 30px;
        --w: 45px;
    }
}

.account .event-preview.top {
    background-color: transparent;
    font-size: 0.9em;
    margin-bottom: 0;
}

.account .event-preview.top > * {
    line-height: 120% !important;
}

@media (max-width: 1199px) {
    .account .event-preview.top {
        display: none;
    }
}

.account .event-preview .date {
    grid-column: span 1;
    grid-row: span 1;
    line-height: var(--h);
}

@media (max-width: 1199px) {
    .account .event-preview .date {
        grid-column: 1/3;
        grid-row: 2/3;
        line-height: 130%;
        font-size: 0.9em;
    }
}

.account .event-preview .img {
    grid-column: span 1;
    grid-row: span 1;
    text-align: center;
}

@media (max-width: 1199px) {
    .account .event-preview .img {
        grid-column: 1/2;
        grid-row: 1/2;
    }
}

.account .event-preview .img svg {
    height: var(--h);
}

.account .event-preview .img img {
    width: var(--w);
    height: var(--h);
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 0.5em;
}

.account .event-preview .title {
    grid-column: span 1;
    grid-row: span 1;
    line-height: var(--h);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 1199px) {
    .account .event-preview .title {
        grid-column: 2/4;
        grid-row: 1/2;
    }
}

.account .event-preview .role {
    grid-column: span 1;
    grid-row: span 1;
    line-height: var(--h);
    text-align: center;
}

@media (max-width: 1199px) {
    .account .event-preview .role {
        grid-column: 1/3;
        grid-row: 3/4;
        line-height: 130%;
        text-align: left;
        font-size: 0.9em;
    }
}

.account .event-preview .count {
    grid-column: span 1;
    grid-row: span 1;
    line-height: var(--h);
    text-align: center;
}

@media (max-width: 1199px) {
    .account .event-preview .count {
        grid-column: 1/3;
        grid-row: 4/5;
        line-height: 130%;
        text-align: left;
        font-size: 0.9em;
    }
}

.account .event-preview .btns {
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

@media (max-width: 1199px) {
    .account .event-preview .btns {
        grid-column: 3/4;
        grid-row: 2/5;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }
}

.account .event-preview .btns a, .account .event-preview .btns button {
    font-size: 1.5em;
    color: #4797FF;
    transition: 0.3s ease;
    display: flex;
}

.account .event-preview .btns a.dis, .account .event-preview .btns button.dis {
    pointer-events: none;
    opacity: 0.5;
    filter: grayscale(1);
}

@media (min-width: 1200px) {
    .account .event-preview .btns a:not(:first-child), .account .event-preview .btns button:not(:first-child) {
        margin-left: 0.5em;
    }
}

.account .event-preview .btns a:hover, .account .event-preview .btns button:hover {
    color: #004AAD;
}

.account .list-info {
    list-style: none;
    padding-left: 0px;
}

.account .list-info li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 0.5em;
}

.account .participant-control {
    background-color: #FFFFFF;
    border-radius: 0.5em;
    width: 100%;
    padding: 0.25em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
    transition: 0.3s ease;
    color: #7A8290;
}

.account .participant-control.approved {
    color: #004AAD;
}

.account .participant-control .name {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    flex: 1;
}

.account .participant-control .name img {
    width: 70px;
    height: 70px;
    background-color: #fff;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 0.5em;
    margin-right: 1em;
}

@media (max-width: 767px) {
    .account .participant-control .name img {
        width: 50px;
        height: 50px;
    }
}

.account .participant-control .name > div {
    flex: 1;
}

.account .participant-control .btn-none {
    font-size: 1.5em;
    color: #004AAD;
    transition: 0.3s ease;
}

.account .participant-control .btn-none:hover, .account .participant-control .btn-none:focus, .account .participant-control .btn-none:active {
    color: #4797FF;
}

.account .participant-control .params {
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 0px;
    width: 100%;
    background-color: #D6E7FF;
    padding: 0.5em 1em;
    list-style: none;
    border-radius: 0 0 1em 1em;
    box-shadow: 0px 2px 6px rgba(122, 130, 144, 0.25);
}

.account .participant-control .params li:not(:first-child) {
    margin-top: 0.25em;
}

.account .participant-control .params.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 1em;
}

.account .participant-control .params.controls li:not(:first-child) {
    margin-top: 0px;
}

footer {
    background-color: #000000;
    color: #FFFFFF;
    height: var(--f-height);
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

footer .container .sign {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .container .sign img {
    max-height: 40px;
    margin-left: 0.5em;
}

@media (max-width: 991px) {
    footer .container .sign img {
        max-height: 35px;
    }
}

@media (max-width: 767px) {
    footer .container .sign img {
        max-height: 30px;
    }
}

footer .container nav ul {
    list-style: none;
    padding-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .container nav ul li:not(:first-child) {
    margin-left: 1em;
}

footer .container nav ul li a {
    font-size: 1.2em;
    color: #FFFFFF;
    transition: 0.3s ease;
}

footer .container nav ul li a:hover, footer .container nav ul li a:focus {
    color: #D6E7FF;
}

.close {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10;
    font-size: 2em;
    color: #004AAD;
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}

.close:hover, .close:focus {
    color: #4797FF;
}

.offcanvas-lg[role=dialog] .mobile-menu {
    padding: 2em;
}

.offcanvas-lg[role=dialog] .mobile-menu ul {
    list-style: none;
    padding-left: 0px;
}

.offcanvas-lg[role=dialog] .mobile-menu ul li:not(:first-child) {
    margin-top: 1.5em;
}

.offcanvas-lg[role=dialog] .mobile-menu ul li a {
    font-size: 1.5em;
    color: #002C66;
    font-weight: 700;
}

.offcanvas-lg[role=dialog] .mobile-menu ul li a.active {
    color: #004AAD;
}

/*# sourceMappingURL=style.css.map */

.validate-wrapper {
    position: relative;
    width: 100%;
}

.validate-wrapper-map {
    border: 2px solid red;
    border-radius: 15px;
}

.validate-error {
    position: absolute;
    left: 20px;
    top: 30px;
    background-color: #FFF;
    font-size: 14px;
    color: red;
    padding: 0 5px;
}

.validate-error-textarea {
    top: auto;
    bottom: -8px;
}


.validate-wrapper > input, .validate-wrapper > textarea, .validate-wrapper > .validate-select {
    border: 2px solid white;
}

.validate-wrapper_error > input, .validate-wrapper_error > textarea, .validate-wrapper_error > .validate-select, .validate-wrapper_error>.RichEditor-root{
    border-color: red;
}

.validate-select {
    border-radius: 16px;
}

.file-upload {
    position: relative;
    width: fit-content;
    cursor: pointer;
}

.file-upload button {
    position: relative;
    z-index: 1;
}

.file-upload input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
}

.img-profile {
    aspect-ratio: 1/1;
    object-fit: cover;
}
.img-event {
    aspect-ratio: 4/2;
    object-fit: cover;
}
.table-tab{
    background-color:white;
    padding:5px;
    border-radius: 5px;
}
.table-tab .active{
    padding: 3px;
    background-color: #b5b5b5a7;
}
