@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap");
:root {
  --h-height: 100px;
  --f-height: 100px;
}
@media (max-width: 575px) {
  :root {
    --h-height: 60px;
    --f-height: 60px;
  }
}

/* mixins */
a, a:hover, a:focus, a:active {
  color: inherit;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p, label, span, a, button, form, fieldset, legend, select, input, textarea, button, div, blockquote, cite, figure, figcaption, table, ul, ol, dl, address {
  line-height: 120%;
  margin-bottom: 0px;
}

/* Form elements */
input, textarea {
  background: #D6E7FF;
  border: none;
  border-radius: 1em;
  padding: 0.75em 1.5em;
  width: 100%;
  line-height: normal;
  outline: none;
  display: block;
  transition: 0.3s ease;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #7A8290;
  font-weight: 400;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #7A8290;
  font-weight: 400;
}
input::placeholder, textarea::placeholder {
  color: #7A8290;
  font-weight: 400;
}

button {
  background: none;
  border: none;
  padding: unset;
  display: block;
  font-family: inherit;
  outline: none;
  color: inherit;
}

.btn, .btn-2, .btn-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75em 1.5em;
  text-align: center;
  transition: 0.3s ease;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1em;
  font-weight: 500;
  border-radius: 1em;
}
.btn-1 {
  color: #fff;
  background: #004AAD;
}
.btn-1:hover, .btn-1:focus, .btn-1:active {
  color: #fff;
  background: #002C66;
}
.btn-2 {
  color: #4797FF;
  background: transparent;
  border: 1px solid currentColor;
}
.btn-2:hover, .btn-2:focus, .btn-2:active {
  color: #004AAD;
}

.simple-select-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 150px;
  max-width: 100%;
}
@media (max-width: 575px) {
  .simple-select-container {
    min-width: unset;
  }
}
.simple-select__control {
  border-radius: 0px !important;
  height: 100%;
  border: 1px solid #4797FF !important;
  background-color: #FFFFFF !important;
  transition: 0.3s ease !important;
  padding: 0 0.5em;
}
.simple-select__control--is-focused {
  border: 1px solid #004AAD !important;
  box-shadow: none !important;
}
.simple-select__value-container {
  padding: 0px !important;
  flex-wrap: nowrap !important;
}
.simple-select__placeholder {
  white-space: nowrap;
}
.simple-select__single-value {
  color: #000 !important;
  cursor: pointer;
}
.simple-select__indicators {
  margin-left: 0.5em;
}
.simple-select__indicator {
  color: #7A8290 !important;
  transition: 0.3s ease !important;
  cursor: pointer;
  padding: 0px !important;
  width: 2em;
  height: 1.35em;
}
.simple-select__indicator:hover {
  color: #4797FF !important;
}
.simple-select__indicator svg {
  width: 100% !important;
  height: 100% !important;
}
.simple-select__input-container {
  margin: 0px !important;
  padding: 0px !important;
  cursor: text;
}
.simple-select__multi-value__label {
  background-color: #D6E7FF;
  border-radius: 0px;
  color: #001229;
}
.simple-select__multi-value__remove {
  background-color: #D6E7FF;
  border-radius: 0px;
  color: #001229;
}
.simple-select__multi-value__remove:hover {
  background-color: #4797FF !important;
  color: #FFFFFF !important;
}
.simple-select__menu {
  margin-top: 0px !important;
  top: 100% !important;
  font-size: 0.9em;
  min-width: 150px;
  background-color: #fff !important;
  border: 1px solid #7A8290 !important;
  border-radius: 0px 0px 10px 10px !important;
  box-shadow: none !important;
  outline: none !important;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  z-index: 10 !important;
}
.simple-select__option {
  transition: 0.3s ease;
  white-space: nowrap;
}
.simple-select__option:hover, .simple-select__option:focus, .simple-select__option:active, .simple-select__option--is-focused {
  background-color: #4797FF !important;
  color: #fff;
  cursor: pointer;
}
.simple-select__option--is-selected {
  background-color: #004AAD !important;
  color: #fff;
}

h1 {
  font-size: 2em;
  font-weight: 600;
  text-align: left;
  margin-bottom: 1em;
}

h2 {
  font-size: 2.5em;
  font-weight: 800;
  text-align: left;
  margin-bottom: 1em;
}
@media (max-width: 991px) {
  h2 {
    font-size: 2em;
  }
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
  text-align: left;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.25em;
  font-weight: 600;
  text-align: left;
  margin-bottom: 0.5em;
}

.fs-08 {
  font-size: 0.8em;
}
.fs-09 {
  font-size: 0.9em;
}
.fs-10 {
  font-size: 1em;
}
.fs-11 {
  font-size: 1.1em;
}
.fs-12 {
  font-size: 1.2em;
}
.fs-13 {
  font-size: 1.3em;
}
.fs-14 {
  font-size: 1.4em;
}
.fs-15 {
  font-size: 1.5em;
}
.fs-16 {
  font-size: 1.6em;
}
.fs-17 {
  font-size: 1.7em;
}
.fs-18 {
  font-size: 1.8em;
}
.fs-19 {
  font-size: 1.9em;
}
.fs-20 {
  font-size: 2em;
}
.fs-25 {
  font-size: 2.5em;
}
.fs-30 {
  font-size: 3em;
}
.fs-35 {
  font-size: 3.5em;
}
.fs-40 {
  font-size: 4em;
}

.fw-3 {
  font-weight: 300;
}
.fw-4 {
  font-weight: 400;
}
.fw-5 {
  font-weight: 500;
}
.fw-6 {
  font-weight: 600;
}
.fw-7 {
  font-weight: 700;
}
.fw-8 {
  font-weight: 800;
}
.fw-9 {
  font-weight: 900;
}

.color-main {
  color: #004AAD;
}

.white {
  color: #fff;
}

nav.pagination {
  width: 100%;
  margin-top: 2em;
}
nav.pagination ul {
  width: 100%;
  list-style: none;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav.pagination ul li:not(:first-child) {
  margin-left: 0.5em;
}
nav.pagination ul li button {
  font-size: 1.2em;
  font-weight: 500;
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  background-color: transparent;
  color: #001229;
  transition: 0.3s ease;
}
nav.pagination ul li button:hover, nav.pagination ul li button:focus {
  background-color: #D6E7FF;
}
nav.pagination ul li button:active {
  background-color: #4797FF;
  color: #FFFFFF;
}
nav.pagination ul li button.active {
  background-color: #004AAD;
  color: #FFFFFF;
}

.swiper {
  position: unset;
}
.swiper-button, .swiper-button-next, .swiper-button-prev {
  top: 50%;
  margin: 0px;
  width: 2em;
  height: 3em;
  background-color: transparent;
}
.swiper-button::after, .swiper-button-next::after, .swiper-button-prev::after {
  font-size: 1.75em;
  color: #004AAD;
  font-weight: 700;
  transition: 0.3s ease;
}
.swiper-button:hover::after, .swiper-button-next:hover::after, .swiper-button-prev:hover::after, .swiper-button:focus::after, .swiper-button-next:focus::after, .swiper-button-prev:focus::after {
  color: #4797FF;
}
.swiper-button:active::after, .swiper-button-next:active::after, .swiper-button-prev:active::after {
  color: #002C66;
}
.swiper-button-prev {
  left: 0px;
  transform: translateY(-50%) translateX(-100%);
}
.swiper-button-next {
  right: 0px;
  transform: translateY(-50%) translateX(100%);
}
.swiper-button-disabled {
  opacity: 0 !important;
}

body {
  margin: 0;
  font-family: "Mulish";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: #FFFFFF;
  color: #000000;
  font-weight: 400;
  overflow-x: hidden;
}
@media (max-width: 1399px) {
  body {
    font-size: 15px;
  }
}
@media (max-width: 1199px) {
  body {
    font-size: 14px;
  }
}
@media (max-width: 991px) {
  body {
    padding-bottom: var(--m-footer);
  }
}
@media (max-width: 575px) {
  body {
    font-size: 12px;
  }
}

header {
  height: var(--h-height);
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
header .container .logo {
  width: 150px;
}
@media (max-width: 991px) {
  header .container .logo {
    width: 130px;
  }
}
@media (max-width: 767px) {
  header .container .logo {
    width: 115px;
  }
}
@media (max-width: 575px) {
  header .container .logo {
    width: 90px;
  }
}
header .container form {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: stretch;
}
header .container form input {
  border-radius: 1em 0 0 1em;
}
header .container form button {
  width: 3em;
  padding: 0px;
  border-radius: 0 1em 1em 0;
}
header .container form button svg {
  font-size: 1.5em;
}
header .container nav ul {
  list-style: none;
  padding-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container nav ul li:not(:first-child) {
  margin-left: 1em;
}
header .container nav ul li a {
  font-size: 1.2em;
  color: #004AAD;
  transition: 0.3s ease;
}
header .container nav ul li a:hover, header .container nav ul li a:focus {
  color: #4797FF;
}

main {
  min-height: calc(100vh - var(--h-height) - var(--f-height));
}

.main-slider .swiper-slide {
  width: 70%;
}
@media (max-width: 767px) {
  .main-slider .swiper-slide {
    width: 100%;
  }
}
.main-slider .swiper-slide figure {
  position: relative;
  border-radius: 1em;
  overflow: hidden;
  border: 3px solid #D6E7FF;
  height: 400px;
}
@media (max-width: 1399px) {
  .main-slider .swiper-slide figure {
    height: 360px;
  }
}
@media (max-width: 1199px) {
  .main-slider .swiper-slide figure {
    height: 325px;
  }
}
@media (max-width: 991px) {
  .main-slider .swiper-slide figure {
    height: 275px;
  }
}
@media (max-width: 575px) {
  .main-slider .swiper-slide figure {
    height: 55vw;
  }
}
.main-slider .swiper-slide figure img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.7);
}
.main-slider .swiper-slide figure figcaption {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #FFFFFF;
  height: 100%;
  padding: 2em;
}
.main-slider .swiper-slide figure figcaption h2 {
  margin-bottom: 0.5em;
}
.main-slider .swiper-slide figure figcaption ul {
  list-style: none;
  padding: 0px;
  display: flex;
  align-items: center;
  opacity: 0.75;
  font-size: 0.8em;
}
.main-slider .swiper-slide figure figcaption ul li:not(:first-child) {
  margin-left: 0.5em;
}
.main-slider .swiper-slide figure figcaption ul li:not(:first-child)::before {
  content: "·";
  margin-right: 0.5em;
}

.date-slider {
  overflow: visible;
  overflow-x: clip;
}
.date-slider .swiper-wrapper {
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-inline: contain;
  -ms-scroll-snap-type: x proximity !important;
      scroll-snap-type: x proximity !important;
}
.date-slider .swiper-slide {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  scroll-snap-stop: normal;
}
.date-slider .swiper-slide .month {
  width: 100%;
  position: relative;
  margin-bottom: 0.5em;
  font-weight: 600;
  background-color: #D6E7FF;
  padding: 0.5em;
}
.date-slider .swiper-slide .month span {
  position: -webkit-sticky;
  position: sticky;
  left: 0.5em;
  top: 0px;
  transition: left 200ms linear 0s;
}
.date-slider .swiper-slide .days {
  display: flex;
}
.date-slider .swiper-slide .days button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 1em;
  border-radius: 0.5em;
  background-color: transparent;
  transition: 0.3s ease;
}
.date-slider .swiper-slide .days button.active {
  background-color: #4797FF;
  color: #FFFFFF;
}
.date-slider .swiper-slide .days button:not(:first-child) {
  margin-left: 0.5em;
}
.date-slider .swiper-slide .days button div:first-child {
  font-size: 1.5em;
  font-weight: 700;
}

.filters-carousel {
  overflow: visible;
  overflow-x: clip;
}
.filters-carousel .swiper-wrapper {
  align-items: stretch;
}
.filters-carousel .swiper-wrapper .swiper-slide {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
}

.filters {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}
.filters > * {
  margin-right: 1em;
}

.calendar {
  position: relative;
}
.calendar button {
  position: relative;
  z-index: 1;
}
.calendar-box {
  position: absolute;
  z-index: 10;
  top: calc(100% + 0.5em);
  background-color: #D6E7FF;
  padding: 1em;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease 200ms;
}
.calendar-box.show {
  display: block;
  opacity: 1;
}

.event img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1em;
  filter: brightness(0.75);
  border-radius: 1em;
}
@media (max-width: 1399px) {
  .event img {
    height: 170px;
  }
}
@media (max-width: 991px) {
  .event img {
    height: 140px;
  }
}
@media (max-width: 575px) {
  .event img {
    height: 50vw;
  }
}
.event address {
  font-size: 0.9em;
  margin-bottom: 1em;
  color: #7A8290;
}
.event .time {
  font-size: 0.9em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #31353B;
}

article.preview {
  width: 100%;
}
article.preview img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1em;
  border-radius: 1em;
}
article.preview .text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.2em;
  height: 3.6em;
}
article.preview .more {
  display: block;
  color: #004AAD;
  margin-top: 0.5em;
}

footer {
  background-color: #000000;
  color: #FFFFFF;
  height: var(--f-height);
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
footer .container .sign {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .container .sign img {
  max-height: 40px;
  margin-left: 0.5em;
}
@media (max-width: 991px) {
  footer .container .sign img {
    max-height: 35px;
  }
}
@media (max-width: 767px) {
  footer .container .sign img {
    max-height: 30px;
  }
}
footer .container nav ul {
  list-style: none;
  padding-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .container nav ul li:not(:first-child) {
  margin-left: 1em;
}
footer .container nav ul li a {
  font-size: 1.2em;
  color: #FFFFFF;
  transition: 0.3s ease;
}
footer .container nav ul li a:hover, footer .container nav ul li a:focus {
  color: #D6E7FF;
}/*# sourceMappingURL=style.css.map */